extends layout

block content
  .container(ng-controller="main.js")
    .card.card-container
      a(ng-href='/main-menu')
        img(ng-src='/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card Event Updated
      .savedView
        h2 Success!
        p
        h4
          | Your event has been updated. To view or edit this event go to my events in the user menu.
        a.btn.btn-info(href='/', role='button') SIGN OUT
    br