extends layout

block content
  .container
    .card.card-container
      a(href='/welcome')
        img(src='/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card=title
      form.form-signin(action="#{link}")
        .event-form
          input#inputEventName.form-control(type='text', placeholder='event name', required='', autofocus='')
          input#inputEventStartDate.form-control(type='date', placeholder='event start date', required='')
          input#inputEventEndDate.form-control(type='date', placeholder='event end date', required='')
          input#inputEventLocation.form-control(type='text', placeholder='event location', required='')
          input#inputEventStartTime.form-control(type='time', placeholder='event start time', required='')
          input#inputEventEndTime.form-control(type='time', placeholder='event end time', required='')
          input#inputEventDescription.form-control(type='text', placeholder='event description', required='')
          input#inputImage.form-control(type='file', placeholder='upload image', optional='')
          input#inputTags.form-control(type='text', placeholder='tags', optional='')
          button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') CREATE EVENT
