extends layout

block content
  .container
    .card.card-container
      a(href='/main-menu')
        img(src='/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card Event Posted
      .savedView
        h2 Success!
        p
        h4
          | Congratulations. Your event has been posted. To view or edit this event go to My Events in the user menu.
      a.btn.btn-info(href='/account', role='button') USER MENU
      br
      a.btn.btn-info(href='/', role='button') SIGN OUT
      br