extends layout

block content
  .container
    .card.card-container
      p#profile-name.profile-name-card Movie Night
      br
      img(src='img/movie-flyer.jpg', alt='flyer', width='100%', height='100%')
      .event
        p
        h4 DATE:
        h5  04/23/2017
        br
        h4 TIME:
        h5  5:30 PM
        br
        h4 LOCATION:
        h5  USU Ballroom 1
        br
        h5
          | Come enjoy classic films while meeting new people who share your interests. Free snacks.
        br
        br
        p
        .left
          a.btn.btn-info.btn-lg(href='#')
            span.glyphicon.glyphicon-remove
        a(href='/welcome')
          img(src='img/bunny.png', alt='logo-home', width='100%', height='100%')
        .right
          a.btn.btn-info.btn-lg(href='#')
            span.glyphicon.glyphicon-heart