extends layout

block content
  .container
    .card.card-container
      a(href='/welcome')
        img(src='img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card Event Posted
      .savedView
        h2 Success!
        p
        h4
          | Congratulations. Your event has been posted. To view the stats or edit this event go to the menu and click on my event history.
      a.btn.btn-info(href='/', role='button') SIGN OUT
      br