extends layout

block content
  .login
    .login-screen
      img(src='img/bunny.png', alt='Logo', width='30%', height='80%')
      .app-title
        h1 {title}
        .login-form
          .control-group
            input#login-name.login-field(type='text', value='', placeholder='email@csulb.edu')
            label.login-field-icon.fui-user(for='login-name')
          .control-group
            input#login-pass.login-field(type='password', value='', placeholder='password')
            label.login-field-icon.fui-lock(for='login-pass')
          a.login-link(href='recover') Forgot Password
          a.btn.btn-primary.btn-large.btn-block(href='welcome') LOGIN
          a.login-link(href='signUp') Don't have an account? Sign Up
