extends layout

block content
  .container
    .card.card-container
      .menu
        a.pull-right(href='/user-menu')
          span.glyphicon.glyphicon-menu-hamburger
      img(src='img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card Welcome
      .welcome
        a.btn.btn-info(href='/events/finder', role='button') FIND EVENT
        br
        a.btn.btn-info(href='/events/new', role='button') CREATE EVENT
        br
        a.btn.btn-info(href='/login', role='button') SIGN OUT
        br
