extends layout

block content
  .container(ng-controller="main.js")
    .card.card-container
      .menu
        a.pull-right(ng-href='/account')
          span.glyphicon.glyphicon-menu-hamburger
      img(ng-src='img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card #{title}
      .welcome
        a.btn.btn-info(ng-href='/events/finder', role='button') FIND EVENT
        br
        a.btn.btn-info(ng-href='/event/new', role='button') CREATE EVENT
        br
        a.btn.btn-info(ng-href='/', role='button') SIGN OUT
        br
