extends layout

block content
  .container
  .card.card-container
    img(src='img/bunny.png', alt='logo', width='100', height='100')
    p#profile-name.profile-name-card Welcome
    form.form-signin
      .welcome
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') FIND EVENT
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') CREATE EVENT
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') SIGN OUT