extends layout

block content
  .container
    .card.card-container
      a(href='/')
        img(src='/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card Create Account
      .account
        h5
          | Please enter your information in the fields below. You will recieve a verification email to confirm your account.
      form.form-signin(action='/')
        span#reauth-email.reauth-email
        input#inputFirstName.form-control(type='text', placeholder='First Name', required='', autofocus='')
        input#inputLastName.form-control(type='text', placeholder='Last Name', required='')
        input#inputEmail.form-control(type='email', placeholder='Email address', required='')
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') SEND EMAIL
