extends layout

block content
  .container(ng-controller="main.js")
    .row
      .card.col-xs-12.col-md-10.col-centered.top-margin
        a(ng-href='/welcome')
          img.logo(ng-src='/img/bunny.png', alt='logo', width='30px', height='30px')
        p#profile-name.profile-name-card #{title}
        .savedView
          br
          p Check out the gifs below to learn how to use our app.
          br
          h2 Finding Events
          p
          h4
            | By Category
          img(ng-src="/img/category.gif")
          br
          h4
            | By Keywords
          img(ng-src="/img/keyword.gif")
