
block content
  .container
    .card.card-container
      a(routerLink='/')
        img(src='./assets/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card {{title}}
      .account
        h5
          | {{message}}
      form.form-signin(action='#', method='post')
        span#reauth-email.reauth-email
        input#inputFirstName.form-control(type='text', placeholder='First Name', name='firstName', required='', autofocus='')
        input#inputLastName.form-control(type='text', placeholder='Last Name', name='lastName', required='')
        input#inputEmail.form-control(type='email', placeholder='Email address', pattern='.+csulb.edu', name='email', required='')
        input#inputPassword.form-control(type='password', placeholder='Password',name='password', required='')
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') {{buttonText}}
